.error{
    background: none repeat scroll 0 0 #F2DEDE !important;
    border: 1px solid #EBCCD1 !important;
    color: #A94442 !important;
}
div.dropDownElement{
	clear: both;
	color: #333;
	font-weight: 400;
	line-height: 1.4;
	padding: 3px 20px;
	white-space: nowrap;
}
div.dropDownElement .dropDownIcon{
	margin-left:10px;
}
/*
#167016 -->
#0B3B0B
#0B610B
#088A08
*/
.navbar-collapse, .navbar-inverse, .navbar, .navbar .container{
	background-color: #197C19 !important;
	background-image: none !important;
}
.navbar .navbar-header a, .navbar .btn{
	color: #fff !important;
}
.navbar-nav > .open > a{
	background-color:#0B610B !important;
}
.btn-primary {
background-image: -webkit-linear-gradient(top,#146714 0,#0B610B 100%);
background-image: linear-gradient(to bottom,#146714 0,#197C19 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#146714', endColorstr='#197C19', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
background-repeat: repeat-x;
border-color: #0B610B;

}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{
	color:#fff;
	background-color:#197C19;
	border-color:#0B610B
}
#revengepanel_user_profile .progress-affected{
	padding: 0px;
}
#revengepanel_user_profile .progress-affected .progress{
	border-radius: 4px 0px 0px 4px;
}

#revengepanel_user_profile .progress-owner{
	padding: 0px;
}
#revengepanel_user_profile .progress-owner .progress{
	border-radius: 0 4px 4px 0px;
}
.messages{
    list-style: none outside none;
    padding-left: 0;
    position: relative;
}