{% extends "revengeapp/revenge-panel.html" %}

{% block revengepanel_profile_user %}
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sd-3">
			<div class="label label-primary" style="width: 100%; float: left; "><h4>{{ friend.username }}</h4></div>
			<div class="pull-left" >
				<img src="{{ MEDIA_URL }}{{ friend.avatar }}" style="width:100%"/>
			</div>
			<div class="" style="width: 100%; float: left; ">
				<h4>{{ friend.level.title }}</h4>
				<div class="progress">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ friend.exp_percet }}%">
						{{ friend.experience_actual }}
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-9 col-md-9 col-sd-9">
			<h3>Título</h3>
		</div>
		<div class="col-lg-6 col-md-6 col-sd-6">
			<div class="row">
				{% for cat in totalPointsCats %}
				<div class="col-lg-6 col-md-6 col-sd-6">
				<b>{{ cat.title }}:</b> {{ cat.milestones }}
				<div class="progress">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ cat.milestones_percent }}%">
						<span class="sr-only">{{ cat.milestones_percent }}%</span>
					</div>
				</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sd-3">
			<h4>Enviadas <span class="badge pull-right">{{ totalMilestonesSend }}</span></h4>
			<h4>Recibidas <span class="badge pull-right">{{ totalMilestonesReveived }}</span></h4>
		</div>		
	</div>
{% endblock %}
{% block revengepanel_content %}	
    {% for milestone in milestones %}
		{% if milestone.tome %}
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title"> <span class="badge">{{ milestone.cat.title }}</span> {{ milestone.route }}: <a href="{% url 'see_profile' milestone.affected.pk %}">{{ milestone.affected.username }}</a> </h3>
				</div>
		{% else %}
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title"> <span class="badge">{{ milestone.cat.title }}</span> {{ milestone.route }}: <a href="{% url 'see_profile' milestone.owner.pk %}">{{ milestone.owner.username }}</a></h3>
				</div>
			
		{% endif %}
			<div class="panel-body">
				<a href="{% url 'see_profile' milestone.owner.pk %}"><img src="{{ MEDIA_URL }}{{ milestone.owner.avatar }}" style="width:95px"/></a> {{ milestone.comment }}
			</div>
			<div class="panel-footer">
				<div class="btn-group">
					{% if milestone.validate %}<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-thumbs-up"></i> Validar</a></button>{% endif %}
					{% if milestone.returnRevenge %}<button type="button" class="btn btn-default">Devolver</button>{% endif %}
					<button type="button" class="btn btn-default">Denunciar</button>
				</div>	
				<span class="label label-info" style="float:right; margin-top:10px" >{{ milestone.milestone_date }}</span>
			</div>
		</div>
	{% endfor %}
{% endblock %}