{% extends "revengeapp/base.html" %}
{% block content %}
<div class="row ">
    <div class="col-lg-3 col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">Send Revenge</div>
			<div class="panel-body">
				<form role="form" id="formRevengeMiltestone" name="formRevengeMiltestone" action="" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label for="exampleInputEmail1">Title</label>
						<input type="text" class="form-control required" name="title" id="title" placeholder="I'm wathing you!" required>
						{{ formRevengeMiltestone.title.errors }}
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Revenge type</label>
						<select class="form-control required" name="point" id="point" placeholder="Tu mensaje" required>
							{% for point in revPoints %}
								<option value="{{ point.id }}">{{ point.title }}</option>
							{% endfor %}
						</select>
						{{ formRevengeMiltestone.point.errors }}
					</div>	
					<div class="form-group">
						<label for="exampleInputPassword1">Affected/friend</label>
						<div class="input-group">
							<input type="hidden" name="friendId" id="friendId" required>
							<input class="form-control" id="searchFriendFormRevenge" name="searchFriendFormRevenge" type="text" autocomplete="off">
							<div class="input-group-btn">
								<div id="searchFriendFormRevengeShow" >
								<button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></button>
								</div>
								<ul class="dropdown-menu pull-right" id="searchFriendFormRevengeMenu">
									{% for friend in friendsList %}
										<li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
						{{ formRevengeMiltestone.point.errors }}
					</div>			  
					<div class="form-group">
						<label for="exampleInputPassword1">Comment</label>
						<textarea class="form-control" name="comment" id="comment" placeholder="Tu mensaje" required></textarea>
						{{ formRevengeMiltestone.comment.errors }}
					</div>		
					<button type="button" id="sendMilestone" class="btn btn-default">Send revenge</button>
					<div class="alert alert-danger" id="formErrorGeneric" style="display:none;margin-top:15px;">
						All fields are mandatory
					</div>
				</form>
		  </div>
		</div>    
    </div>
    <div class="col-lg-9 col-md-9">
    {% block revengepanel_content %}
	    <p>
	    Minions ipsum ti aamoo! Voluptate velit aaaaaah consequat. Ex exercitation laboris jeje aliqua exercitation ex tatata bala tu nostrud. Jiji tempor sed bananaaaa aaaaaah enim minim belloo! Enim. Cillum bee do bee do bee do aliqua nostrud duis baboiii qui baboiii. Officia elit enim incididunt et daa incididunt aute. Para tu magna chasy reprehenderit exercitation voluptate commodo minim belloo! Officia hana dul sae.
	    </p>
		{% for milestone in milestones %}
		{% if milestone.tome %}
			<h3> {{ milestone.route }}: <a href="/profile/{{ milestone.affected.pk }}">{{ milestone.affected.username }}</a></h3>
		{% else %}
			<h3> {{ milestone.route }}: <a href="/profile/{{ milestone.owner.pk }}">{{ milestone.owner.username }}</a></h3>
		{% endif %}
			
		<blockquote>
			<img src="{{ MEDIA_URL }}{{ milestone.point.image }}" style="width:95px"/>
			<span>Comment: {{ milestone.comment }}</span> 
		</blockquote>
		{% endfor %}
	{% endblock %}
	</div>
</div>
{% endblock %}