{% extends "base.html" %}
{% block content %}
<div class="row ">
	<div class="col-lg-3 col-md-3">
		<div class="row" id="revengepanel_user_profile">
			{% block revengepanel_user_profile %}
			{% endblock %}
		</div>
	</div>
	<div class="col-lg-6 col-md-6">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
					{% block revengepanel_user_info %}
						<div class="row">
							<div id="userStatics"></div>
						</div>
					{% endblock %}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<form role="form" id="formRevengeMiltestone" name="formRevengeMiltestone" action="" method="POST">
							{% csrf_token %}
							<input type="hidden" name="owner" id="owner" value="{{ user.id }}">
							<div class="form-group col-lg-6 col-md-6">
								<label for="exampleInputPassword1">Categorías</label>
								<select class="form-control required" name="cat" id="cat" placeholder="Seleccione..." required>
									{% for cat in revCats %}
										<option value="{{ cat.id }}">{{ cat.title }}</option>
									{% endfor %}
								</select>
								{{ formRevengeMiltestone.point.errors }}
							</div>					
							<div class="form-group col-lg-6 col-md-6">
								<label for="exampleInputPassword1">Amigo afectado</label>
								<div class="input-group">
									<input type="hidden" name="affected" id="affected" required>
									<input class="form-control" id="searchFriendFormRevenge" name="searchFriendFormRevenge" type="text" autocomplete="off">
									<div class="input-group-btn">
										<div id="searchFriendFormRevengeShow" >
										<button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></button>
										</div>
										<ul class="dropdown-menu pull-right" id="searchFriendFormRevengeMenu">
											{% for friend in friendsList %}
											{% endfor %}
										</ul>
									</div>
								</div>
								{{ formRevengeMiltestone.point.errors }}
							</div>			  
							<div class="form-group col-lg-12 col-md-12">
								<textarea class="form-control" name="comment" id="comment" placeholder="Tu mensaje" required></textarea>
								{{ formRevengeMiltestone.comment.errors }}
							</div>		
							<button type="button" id="sendMilestone" class="btn btn-default pull-right">Véngate!</button>
							<div class="alert alert-danger" id="formErrorGeneric" style="display:none;margin-top:15px;">
								Todos los campos son obligatorios
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12" id="milestones_list">
			{% block revengepanel_content %}
				{% for milestone in milestones %}
					{% if milestone.tome %}
						<div class="panel panel-info">
							<div class="panel-heading">
								<h3 class="panel-title"> {{ milestone.route }}: <a href="{% url 'see_profile' milestone.affected.pk %}">{{ milestone.affected.username }}</a> <span class="label label-info" style="float:right" >{{ milestone.milestone_date }}</span></h3>
							</div>
						</div>
					{% else %}
						<div class="panel panel-warning">
							<div class="panel-heading">
								<h3 class="panel-title"> {{ milestone.route }}: <a href="{% url 'see_profile' milestone.owner.pk %}">{{ milestone.owner.username }}</a> <span class="label label-info" style="float:right" >{{ milestone.milestone_date }}</span></h3>
							</div>
						</div>
					{% endif %}
					<div class="panel-body">
						<div class="media">
							<div class="pull-left" >
								<img src="{{ MEDIA_URL }}{{ milestone.point.image }}" style="width:95px"/>
							</div>
							<div class="media-body">
								<blockquote>
									{{ milestone.comment }}
								</blockquote>
							</div>
						</div>
					</div>
				{% endfor %}
			{% endblock %}
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-3">
		<div style="width:100%;background:#ccc;height: 500px;padding-top: 49px;padding-left: 20px;">Banner publi</div>
	</div>
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
$(function () {
        $('#userStatics').highcharts({
            title: {
                text: 'Estadísticas',
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: -20
            },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: 'Venganzas'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ' venganzas'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Enviadas',
                data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
            }, {
                name: 'Recibidas',
                data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
            }]
        });
    });
    

</script>
<script src="{{ STATIC_URL }}js/highcharts/highcharts.js"></script>
<script src="{{ STATIC_URL }}js/highcharts/modules/exporting.js"></script>
{% endblock %}