{% extends "base.html" %}

{% block content %}
<div class="row ">
    <div class="col-lg-12 col-md-12">
    <h1>Register</h1>
	</div>
    <div class="col-lg-6 col-md-6">
		<form role="form" id="formSignUp" action="" method="POST">
		{% csrf_token %}
		<div class="form-group">
		    <label for="exampleInputEmail1">Nombre de usuario</label>
		    <input type="text" class="form-control" name="username" id="username" placeholder="mi Usuario" value="{{ form.username.value }}" required />
		  	{{ form.username.errors }}
		</div>
		<div class="form-group">
		    <label for="exampleInputEmail1">Email</label>
		    <input type="email" class="form-control" name="email" id="email" placeholder="your-email@example.com" value="{{ form.email.value }}" required />
		  	{{ form.email.errors }}
		</div>
		<div class="form-group">
		    <label for="exampleInputPassword1">Contraseña</label>
		    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required />
		  	{{ form.password.errors }}
		</div>
		<div class="form-group">
		    <label for="exampleInputPassword1">Confirmar contraseña</label>
		    <input type="password" class="form-control" name="validate_password" id="validate_password" placeholder="Password" required />
		  	{{ form.validate_password.errors }}
		</div>

		<button type="button" class="btn btn-default pull-right" onclick="checkSignUp(); return false;">Register</button>
		{% if form.errors %}
		<div class="form-group">

			<div class="alert alert-danger">
				{{ form.non_field_errors }}
			</div>
		</div>
		{% endif %}
		</form>
    </div>
    <div class="col-lg-6 col-md-6">
    <p>
    Minions ipsum ti aamoo! Voluptate velit aaaaaah consequat. Ex exercitation laboris jeje aliqua exercitation ex tatata bala tu nostrud. Jiji tempor sed bananaaaa aaaaaah enim minim belloo! Enim. Cillum bee do bee do bee do aliqua nostrud duis baboiii qui baboiii. Officia elit enim incididunt et daa incididunt aute. Para tu magna chasy reprehenderit exercitation voluptate commodo minim belloo! Officia hana dul sae.
    </p>
    <p>
	</p>
	</div>	
</div>
{% endblock %}
