<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{{ STATIC_URL }}bootstrap/assets/ico/favicon.ico">

        <title>{% block title %}Revenge Book{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Bootstrap theme -->
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}bootstrap-social-gh-pages/bootstrap-social.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{{ STATIC_URL }}bootstrap/theme.css" rel="stylesheet">

        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="{{ STATIC_URL }}bootstrap/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- revengeapp CSS -->
        <link href="{{ STATIC_URL }}css/revengeapp.css" rel="stylesheet">
        {% block extrahead %}
        {% endblock %}
    {% endblock %}
  </head>

  <body role="document">
    {% block navbar %}
        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">RevengeBook</a>
            </div>
            <div class="navbar-collapse collapse">
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li class="dropdown" >
                    	<div id="searchFriendNavBarShow" >
							<form id="formSearchFriend" method="POST" action="{% url 'searchFriend' %}" class="navbar-form navbar-left" role="search">
								{% csrf_token %}
								<div class="form-group">
									<input type="text" id="searchFriendNavBar" name="searchFriendNavBar" class="form-control" placeholder="Search friends" autocomplete="off">
								</div>
								<button type="submit" class="btn btn-default" onclick="$('#formSearchFriend').submit()"><i class="glyphicon glyphicon-search"></i></button>
							</form>
						</div>
					</li>
				</ul>
				<ul class="dropdown nav navbar-nav navbar-right">
					<li><a href="{% url 'RevengePanel' %}" class="btn btn-link"><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
					<li class="dropdown" >
						<a class="btn btn-link dropdown-toggle" data-toggle="dropdown">
							{{ user.username }} <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'see_profile' user.id %}"><span class="glyphicon glyphicon-user"></span> Mi perfil</a></li>
							<li><a href="{% url 'revenge_panel_history' %}"><span class="glyphicon glyphicon-user"></span> Historial de puntos</a></li>
							<li><a href="{% url 'revenge_panel_configuration' %}"><span class="glyphicon glyphicon-user"></span> Buscar amigos</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-user"></span> Configuración</a></li>
							<li><a href="{% url 'sign_out' %}"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
						</ul>
					</li>
				</ul>
            {% else %}
            	<ul class="nav navbar-nav">
	                <li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
	                <li><a href="{% url 'sign_up' %}">Sign Up</a></li>
                </ul>
            {% endif %}
            </div><!--/.nav-collapse -->
        </div>
        </div>
    {% endblock %}
    <div class="container theme-showcase" role="main">
        {% block content %}
        {% endblock %}
    </div> <!-- /container -->

    {% block js %}
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/functions.js"></script>
        {% block extra_js %}
        {% endblock %}
    {% endblock %}
    
  </body>
</html>